<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link th:href="@{/css/admin/register.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>ADMIN || SIGNUP</title>
</head>
<body>
<div th:replace="fragment/loginfragment :: loginHome"></div>
<div th:replace="fragment/loginfragment :: loginHomeCss"></div>
<div th:replace="fragment/loginfragment :: loginHomeLink"></div>
<!--<div class="home">-->
<div class="register">
    <div class="row">
        <div class="col-md-4 register-left">
            <!--            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>-->
            <h3>Welcome</h3>
            <br>
            <p>to online doctor appointment system!<br>Control doctor booking system through online</p>
            <a th:href="@{/login}">
                <input type="submit" name="" value="Login"/><br/>
            </a>
        </div>
        <div class="col-md-8 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a Admin</h3>
                    <form th:action="@{/signup/admin}" th:method="post" th:object="${adminDto}">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Full Name *" th:field="*{name}" value="" />
                                    <p class="display_msg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Address *" th:field="*{address}"value="" />
                                    <p class="display_msg" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>

                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Mobile Number *" th:field="*{mobileNumber}" value="" />
                                    <p class="display_msg" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}"></p>

                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control"  placeholder="Email *" th:field="*{email}" value="" />
                                    <p class="display_msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" th:field="*{password}" value="" />
                                    <p class="display_msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password *" th:field="*{reEnterPassword}" value="" />
                                    <p class="display_msg" th:if="${#fields.hasErrors('reEnterPassword')}" th:errors="*{reEnterPassword}"></p>
                                </div>

                                <div class="form-group">
                                    <select th:field="*{hospital}" required>
                                                            <option value="">Select Hospital</option>
                                        <th:block th:each="part : ${hospitalList}">
                                            <option th:value="${part.id}"
                                                    th:text="${part.name}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>

                                <input type="submit" class="btnRegister"  value="Register"/>
                            </div>
                        </div>
                    </form>
                    <h4 th:text="*{message}" class="final-msg"></h4>
                    <h5 th:text="*{passwordMsg}" class="password-msg"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
</body>
</html>