<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link th:href="@{/css/admin/doctorRequest.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>DOCTOR || REQUEST</title>
</head>
<body>
<div th:replace="admin/fragement/navbar :: adminNabarLink"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarCss"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarJs"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarHome"></div>
<div class="home">
    <h2 class="message" th:text="${message}"></h2>
    <h2> Doctor Request Details</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Doctor Name</th>
                            <th>Address</th>
                            <th>Phone_No</th>
                            <th>Specialization</th>
                            <th>Experience(years)</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="loop ,i : ${doctorRequest}">
                            <td th:text="${i.count}"></td>
                            <td th:text="${loop.doctor.name}"></td>
                            <td th:text="${loop.doctor.address}"></td>
                            <td th:text="${loop.doctor.mobileNumber}"></td>
                            <td th:text="${loop.doctor.specialization}"></td>
                            <td th:text="${loop.doctor.experience}"></td>
                            <td>
                                <a  th:href="@{/admin/accept-doctor/}+${loop.id}">
                                    <span class="btn btn-danger">Accept</span>
                                </a>

                               <a th:href="@{/admin/reject-doctor/}+${loop.id}">
                                   <span class="btn btn-danger">Reject</span>
                               </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--end of .table-responsive-->
            </div>
        </div>
    </div>
</div>
</body>
</html>