<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link th:href="@{/css/admin/patientRequest.css}" rel="stylesheet"/>

<head>
    <meta charset="UTF-8">
    <title>PATIENT || REQUEST</title>
</head>
<body>
<div th:replace="admin/fragement/navbar :: adminNabarLink"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarCss"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarJs"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarHome(patient_request =${patientRequestSize},doctor_request= ${doctorRequestSize})"></div>
<div class="home">
    <span th:text="${message}" class="message"></span>
    <h2> Patient Request Details</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Patient_Name</th>
                            <th>Address</th>
                            <th>Phone_No</th>
                            <th>Request Date</th>
                            <th>Time</th>
                            <th>Doctor Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="loop,i : ${patientRequest}">
                            <td th:text="${i.count}"></td>
                            <td th:text="${loop.patient.name}"></td>
                            <td th:text="${loop.patient.address}"></td>
                            <td th:text="${loop.patient.mobileNumber}"></td>
                            <td th:text="${loop.applyDate}"></td>
                            <td th:text="${loop.visitTime}"></td>
                            <td th:text="${loop.doctor.name}"></td>
                            <td>
                                <a  th:href="@{/admin/forward-patient/}+${loop.id}">
                                    <span class="btn btn-danger">Forward</span>
                                </a>

                                <a  th:href="@{/admin/delete-patient/}+${loop.id}">
                                    <span class="btn btn-danger">Delete</span>
                                </a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--end of .table-responsive-->
            </div>
        </div>
    </div>
</div>
</body>
</html>