<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link th:href="@{/css/admin/viewDoctor.css}" rel="stylesheet"/>

<head>
    <meta charset="UTF-8">
    <title>VIEW || DOCTOR</title>
</head>
<body>
<div th:replace="admin/fragement/navbar :: adminNabarLink"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarCss"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarJs"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarHome"></div>
<div class="home">
    <div class="wrap">
        <form th:action="@{/admin/doctor-search}" th:method="post" th:object="${searchDto}" autocomplete="off">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search by contact or email..." th:field="*{userInput}"/>
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="container">
        <h2 class="head_caption"><u><i>Doctor Details</i></u></h2>
        <table id="members">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Doctor Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Specialization</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="loop , i : ${doctorDetails}">
                <td th:text="${i.count}">1</td>
                <td th:text="${loop.doctor.name}"></td>
                <td th:text="${loop.doctor.address}"></td>
                <td th:text="${loop.doctor.mobileNumber}"></td>
                <td th:text="${loop.doctor.specialization}"></td>
                <td>
                    <a th:href="@{/admin/doctor-view/}+${loop.id}">
                        <button class="view">
                            View
                        </button>
                    </a>
                    <a th:href="@{/admin/doctor-hospital-apply-delete/}+${loop.id}">
                        <button class="delete">
                            Delete
                        </button>
                    </a>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>