<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOUR || PROFILE </title>
  <link th:href="@{/css/profileCss.css}" rel="stylesheet"/>
    <style>
        .problem{
           font-size: 20px;
        }
        .problem-des{
            margin-right: 30%;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div th:replace="admin/fragement/navbar :: adminNabarLink"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarCss"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarJs"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarHome(patient_request =${patientRequestSize},doctor_request= ${doctorRequestSize})"></div>
</div>
<div class="home">
  <main class="box">
    <div class="image">
      <img th:src="${ppPath}">
    </div>
    <span class="basic-details">
            <h1><u></u><i>Basic Details</i></u></h1>
            <span class="problem" th:text="'Name --> '+${patientDetails.name}"></span><br><br>
            <span class="problem" th:text="'Address --> '+${patientDetails.address}"></span><br><br>
            <span class="problem" th:text="'Contact --> '+${patientDetails.mobileNumber}"></span><br><br>
            <span class="problem" th:text="'Email --> '+${patientDetails.email}">Text:</span><br><br>
            <span class="problem" th:text="'Date Of Birth -->'+${patientDetails.birthDate}"></span><br><br>
            <h1><u></u><i>Appointment Details</i></u></h1>
           <span class="problem" ><span>Appointment Date --></span><span th:text="${appointmentDetails.appointmentDate}"></span></span><br><br>
           <span class="problem" ><span>Doctor Name --></span><span th:text="${appointmentDetails.doctor.name}"></span></span><br><br>
            <h1 style="color: red"><u></u><i>Problem Description</i></u></h1>
        <span class="problem-des"><span>--></span><span th:text="${appointmentDetails.reasonOrProblem}"></span></span><br><br>

        </span>
      <div class="btn>">
          <a th:href="@{/admin/patient-view}" class="next">&laquo; Back</a>
      </div>
  </main>
</div>
</body>
</html>