<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link th:href="@{/css/admin/viewPatient.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
  <meta charset="UTF-8">
  <title>VIEW || PATIENT</title>

</head>
<body>
<div th:replace="admin/fragement/navbar :: adminNabarLink"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarCss"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarJs"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarHome"></div>
<div class="home">

  <div class="wrap">
    <form th:action="@{/admin/patient-search}" th:method="post" th:object="${searchDto}" autocomplete="off">
      <div class="search">
        <input type="text" class="searchTerm" placeholder="Search by contact or email..." th:field="*{userInput}"/>
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>

  <div class="container">
    <h2 class="head_caption"><u><i>Patient Details</i></u></h2>
    <table id="members">
      <thead>
      <tr>
        <th>S.N</th>
        <th>Patient Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="loop , i : ${patientRequestDetails}">
        <td th:text="${i.count}"></td>
        <td th:text="${loop.patient.name}"></td>
        <td th:text="${loop.patient.address}"></td>
        <td th:text="${loop.patient.email}"></td>
        <td th:text="${loop.patient.mobileNumber}"></td>
        <td>
        <a th:href="@{/admin/patient-view/}+${loop.id}">
          <button class="view">
            View
          </button>
        </a>
          <a th:href="@{/admin/patient-appointment-delete/}+${loop.id}">
            <button class="delete">
              Delete
            </button>
          </a>
      </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>