<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR || PROFILE </title>
    <link th:href="@{/css/profileCss.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="doctor/fragement/navbar :: doctorNabarLink"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarCss"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarJs"></div>
<!--<div th:replace="doctor/fragement/navbar :: doctorNavbarHome"></div>-->
<header class="header">

    <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

    <nav class="navbar">
        <ul>
            <a th:href="@{/doctor-hospital/apply}">Apply</a>
            <a th:href="@{/doctor/feedback}">Feedback</a>
            <a th:href="@{/doctor/home}">Home</a>
            <!--      <a th:href="@{/doctor/home}">Home</a>-->
            <!--                <a href="#doctors">doctors</a>-->
        </ul>
    </nav>
    <div class="dropdown">
        <img class="dropbtn" th:src="${ppPath}" alt="">
        <div class="dropdown-content">
            <a th:href="@{/doctor/view}">Views</a>
            <a th:href="@{/logout}">Log out</a>

        </div>
    </div>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>
<div class="home">
    <main class="box">
        <div class="image">
            <img th:src="${ppPath}">
        </div>
        <span class="basic-details">
            <h1><u></u><i>Basic Details</i></u></h1>
            <h2 th:text="'Name --> '+${doctorDetails.name}"></h2>
            <h2 th:text="'Address --> '+${doctorDetails.address}"></h2>
            <h2 th:text="'Contact --> '+${doctorDetails.mobileNumber}"></h2>
            <h2 th:text="'Email --> '+${doctorDetails.email}">Text:</h2>
            <h2 th:text="'Specialization -->'+${doctorDetails.specialization}"></h2>
           <h2 th:text="'Experience -->'+${doctorDetails.experience}"></h2>
            <br>
            <!--             <h1><u></u><i>Further Details</i></u></h1>-->
            <!--            <h2>Text</h2>-->
            <!--              <h2>Text</h2>-->
            <!--              <h2>Text</h2>-->
            <!--              <h2>Text</h2>-->
        </span>
        <div class="btn>">
            <a th:href="@{/admin/doctor-view}" class="next">&laquo; Back</a>
        </div>
    </main>
</div>
</body>
</html>