<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR || PROFILE </title>
    <link th:href="@{/css/profileCss.css}" rel="stylesheet"/>
    <style>
        .details-display{
            font-size: 20px;
        }
    </style>
</head>
<body>
<div th:replace="admin/fragement/navbar :: adminNabarLink"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarCss"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarJs"></div>
<div th:replace="admin/fragement/navbar :: adminNavbarHome(patient_request =${patientRequestSize},doctor_request= ${doctorRequestSize})"></div>

<div class="home">
    <main class="box">
        <div class="image">
            <img th:src="${ppPath}">
        </div>
        <span class="basic-details">
            <h1><u></u><i>Basic Details</i></u></h1>
            <span class="details-display" th:text="'Name --> '+${doctorDetails.name}"></span><br><br>
            <span class="details-display" th:text="'Address --> '+${doctorDetails.address}"></span><br><br>
                <span class="details-display"  th:text="'Contact --> '+${doctorDetails.mobileNumber}"></span><br><br>
            <span class="details-display"  th:text="'Email --> '+${doctorDetails.email.toLowerCase()}"></span><br><br>
            <span class="details-display"  th:text="'Specialization -->'+${doctorDetails.specialization}"></span><br><br>
           <span class="details-display"  th:text="'Experience -->'+${doctorDetails.experience}+' Years'"></span><br><br>
             <span class="details-display"  th:text="'Gender -->'+${doctorDetails.getGenderStatus()}"></span><br><br>
                 <span class="details-display"  th:text="'Rating -->'+${doctorDetails.getRating()}"></span><br><br>
                 <!--             <h1><u></u><i>Further Details</i></u></h1>-->
                 <!--            <h2>Text</h2>-->
                 <!--              <h2>Text</h2>-->
                 <!--              <h2>Text</h2>-->
                 <!--              <h2>Text</h2>-->
        </span>
        <div class="btn>">
            <a th:href="@{/admin/doctor-view}" class="next">&laquo; Back</a>
        </div>
    </main>
</div>
</body>
</html>