<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DOCTOR || DETAILS</title>
    <link th:href="@{/css/patient/doctorreadmore.css}" rel="stylesheet"/>
</head>
<body>
<!--<div th:replace="patient/fragement/navbar :: patientNavbarHome"></div>-->
<div th:replace="patient/fragement/navbar :: patientNabarLink"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarCss"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarJs"></div>
<div>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

        <nav class="navbar">
            <ul>
                <!--              <a href="#home">Home</a>-->
<!--                <a th:href="@{/patient/feedback}">Feedback</a>-->
                <a th:href="@{/patient/view/status}">View Status</a>
                <a th:href="@{/patient/home}">Home</a>
            </ul>
        </nav>
        <div class="dropdown">
            <img class="dropbtn" th:src="${ppPath}" alt="">
            <div class="dropdown-content">
                <a th:href="@{/patient/profile/view}">Views</a>
                <a th:href="@{/logout}">Log out</a>

            </div>
        </div>

        <div id="menu-btn" class="fas fa-bars"></div>
    </header>
</div>
<div class="home">
    <main class="card-head">
        <div class="card-img">
            <img th:src="${doctor.getProfilePhotoPath()}" alt="Photo">

        </div>
<!--        <span class="btn>">-->
<!--            <a href="#" class="next">&laquo; Back</a>-->
<!--        </span>-->

<!--        <h1 th:text="${msg}" class="message"></h1>-->

        <div class="dr-details">
            <h2><span th:text="'Name:'+${doctor.name}"></span><span class="tab"></span><span th:text="'Address: '+${doctor.address}"></span></h2>
            <h2><span th:text="'Contact: '+${doctor.mobileNumber}"></span><span class="tab"></span><span th:text="'Email:' +${doctor.email}"></span></h2>
            <h2><span th:text="'Specialization: '+${doctor.specialization}"></span> <span class="tab"></span> <span  th:text="'Experience: '+${doctor.experience}+' Years'"></span></h2>
            <h2 th:text="'Basic Charge (Rs): '+${doctor.basicCharge}"></h2>
</div>
<!--        <span class="dr-name">-->
<!--  <h1 class="dname" th:text="'Dr.' +${doctor.name}"></h1>-->
<!--  </span>-->
        <div class="tables">
            <table id="customers">
                <h1 th:text="${msg}" class="message"></h1>
                <h1 class="work-details">Working Details</h1>
                <tr>
                    <th>S.N</th>
                    <th>Hospital Name</th>
                    <th>Work From</th>
                    <th>Work To</th>
                    <th>Action</th>
                </tr>
               <tr th:each="loop,i : ${workingHospitalList}">
                <td th:text="${i.count}"></td>
                <td th:text="${loop.getHospital().name}">OM Hospital</td>
                <td th:text="${loop.fromTime}"></td>
                   <td th:text="${loop.toTime}"></td>
                <td>
                    <a th:href="@{/patient/doctor-appointment/}+${loop.id}">
                        <button>
                            Apply
                        </button>
                    </a>
                </td>
                </tr>
            </table>
            <h2 th:text="${notWorkMsg}" class="notWorkMsg"></h2>
        </div>
    </main>
<!--    <h2 th:tel="${message}" class="message"></h2>-->
</div>
</body>
</html>