<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FEEDBACK TO DOCTOR</title>
    <link th:href="@{/css/patient/feedback.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="patient/fragement/navbar :: patientNabarLink"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarCss"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarJs"></div>
<!--<div th:replace="patient/fragement/navbar :: patientNavbarHome"></div>-->
<div>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

        <nav class="navbar">
            <ul>
                <!--              <a href="#home">Home</a>-->
<!--                <a th:href="@{/patient/feedback}">Feedback</a>-->
                <a th:href="@{/patient/view/status}">View Status</a>
                <a th:href="@{/patient/home}">Home</a>
            </ul>
        </nav>
        <div class="dropdown">
            <img class="dropbtn" th:src="${ppPath}" alt="">
            <div class="dropdown-content">
                <a th:href="@{/patient/profile/view}">Views</a>
                <a th:href="@{/logout}">Log out</a>

            </div>
        </div>

        <div id="menu-btn" class="fas fa-bars"></div>
    </header>
</div>

<div class="home">
       <span class="image">
                            <img th:src="${doctor.getProfilePhotoPath()}">
                        </span>
    <div class="doctor_basic">
        <h2 th:text="${doctor.name}"></h2>
    </div>
    <main class="main-header" style="height: 70vh">
        <div class="feedbackhome">
<!--            <div class="title">-->
<!--                <h3>Give feedback to your doctor</h3>-->
<!--            </div>-->
            <br>
            <form th:action="@{/patient/feedback}" th:method="post" th:object="${feedbackDto}">
                <input type="hidden" th:field="*{doctorId}">
                <div class="doctor-details">
                    <h4 class="doctor-name"><i>Rate Your Doctor out Five</i></h4>
                </div>
                <div class="wrapper">

                        <input type="checkbox" id="st1" value="1"th:field="*{star_one}" checked />
                        <label for="st1"></label>


                        <input type="checkbox" id="st2" value="1" th:field="*{star_two}" />
                        <label for="st2"></label>

                        <input type="checkbox" id="st3" value="1" th:field="*{star_three}" />
                        <label for="st3"></label>

                        <input type="checkbox" id="st4" value="1" th:field="*{star_four}"/>
                        <label for="st4"></label>

                        <input type="checkbox" id="st5" value="1" th:field="*{star_five}" />
                        <label for="st5"></label>

                </div>
                <br>
                <div class="footer-form">
                    <label class="Comments" >Comment:</label><br/>
                    <textarea rows="7"  placeholder="Write Your feedback here" th:field="*{comment}" ></textarea>
                    <br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>

    </main>
    <span class="msg-display">
            <h1 th:text="${msg}" class="msg"></h1>
    </span>
</div>
</body>
</html>