<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET || APPOINTMENT</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/patient/furtherdetails.css}" rel="stylesheet"/>
</head>
<body>
<!--<div th:replace="patient/fragement/navbar :: patientNavbarHome"></div>-->
<div th:replace="patient/fragement/navbar :: patientNabarLink"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarCss"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarJs"></div>
<div>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

        <nav class="navbar">
            <ul>
                <!--              <a href="#home">Home</a>-->
                <!--                <a th:href="@{/patient/feedback}">Feedback</a>-->
                <a th:href="@{/patient/view/status}">View Status</a>
                <a th:href="@{/patient/home}">Home</a>
            </ul>
        </nav>
        <div class="dropdown">
            <img class="dropbtn" th:src="${ppPath}" alt="">
<!--            <div class="dropdown-content">-->
<!--                <a th:href="@{/patient/profile/view}">Views</a>-->
<!--                <a th:href="@{/logout}">Log out</a>-->

<!--            </div>-->
        </div>

        <div id="menu-btn" class="fas fa-bars"></div>

    </header>
</div>
<div class="home">

    <main class="main-body">
        <form th:action="@{/patient/hospital-appointment}" th:method="post" th:object="${appointmentDto}" name="more-form">
        <br>
            <input type="hidden" th:field="*{hospitalApplyId}">

        <div class="further-details">
            <a th:href="@{/patient/home}" class="back">&laquo; Back</a>
            <h1>Further Details</h1>
        </div>

        <div class="date">
            <label for="appointDate">Date</label>
            <br>
            <input type="date" name="appointDate" id="appointDate" th:field="*{appointmentDate}" required>
        </div>
        <label>Reason Or Problem</label>
        <br>
        <textarea rows="6" placeholder="Write your problem here"  id="des" th:field="*{description}" required></textarea><br>
            <p style="color: red" id="msg" th:text="${message}"></p>
        <br>
        <input type="submit" value="Submit">
        </form>
    </main>
</div>
</body>
</html>