<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCTORS || DETAILS</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/patient/home.css}" rel="stylesheet"/>

</head>
<body>
<!--<div th:replace="patient/fragement/navbar :: patientNavbarHome"></div>-->
<div th:replace="patient/fragement/navbar :: patientNabarLink"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarCss"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarJs"></div>
<div>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

        <nav class="navbar">
            <ul>
                <!--              <a href="#home">Home</a>-->
<!--                <a th:href="@{/patient/feedback}">Feedback</a>-->
                <a th:href="@{/patient/view/status}">View Status</a>
                <a th:href="@{/patient/home}">Home</a>
            </ul>
        </nav>
        <div class="dropdown">
            <img class="dropbtn" th:src="${ppPath}" alt="">
            <div class="dropdown-content">
                <a th:href="@{/patient/profile/view}">Views</a>
                <a th:href="@{/logout}">Log out</a>

            </div>
        </div>

        <div id="menu-btn" class="fas fa-bars"></div>

    </header>
</div>
<div class="home">
<span class="sort-from">
    <form th:action="@{/patient/sort-doctor}" th:method="get" th:object="${doctorSortDto}">
        <label>Sort By:</label>
        <select onchange='if(this.value != 0) { this.form.submit(); }' th:field="*{sortValue}">
            <option value="0"></option>
            <option value="1">
                Low Charge
            </option>
            <option value="2">
                High Charge
            </option>
        </select>
    </form>
</span>
    <div class="wrap">
        <form th:action="@{/patient/search/doctor}" th:method="post" th:object="${searchDto}" autocomplete="off">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search doctors...." th:field="*{userInput}"/>
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    <span class="main" th:each=" loop : ${doctorList}">
<!--        <span th:each=" loop : ${doctorList}">-->
                <!-- cards start -->
            <div class="cards">
                <div class="image">
                    <img th:src="${loop.getProfilePhotoPath()}">
                </div>
                <div class="title">
                    <h3 th:text="${loop.name}"></h3>
                </div>
                <div class="star">
                    <span class="number" th:text="${loop.getRating()}"></span>
                    <i class="fa fa-star"></i>
                    <p style="font-size: 18px" th:text="${loop.getSpecialization()}"></p>
<!--                    <p style="font-size: 18px" th:text="'Charge Rs.'${loop.getBasicCharge()}"></p>-->
                </div>
                <div class="btn">
                    <button class="btnlinks">
                        <a th:href="@{/patient/feedback/}+${loop.id}">Feedback</a>
                    </button>
                    <button class="btnlinks">
                        <a th:href="@{/patient/doctor-readmore/}+${loop.id}">Read More</a>
                    </button>
                </div>
            </div>
               <!-- cards end -->
<!--        </span>-->
        </span>
</div>
</body>
</html>