<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>PATIENT || SIGNUP</title>
    <link th:href="@{/css/patient/register.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/loginfragment :: loginHome"></div>
<div th:replace="fragment/loginfragment :: loginHomeCss"></div>
<div th:replace="fragment/loginfragment :: loginHomeLink"></div>
<!--<div class="home">-->
    <div class="register">
        <div class="row">
            <div class="col-md-4 register-left">
                <!--            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>-->
                <h3>Welcome</h3>
                <p>to online doctor appointment system!<br>Consult with your desire doctor and be healthy and happy</p>
                <a th:href="@{/login}">
                    <input type="submit" name="" value="Login"/><br/>
                </a>
            </div>
            <div class="col-md-8 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Apply as a Patient</h3>
                        <form th:action="@{/signup/patient}" th:method="post" th:object="${patientDto}" enctype="multipart/form-data">
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Full Name *" th:field="*{name}" value="" />
                                        <p class="display_msg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Address *" th:field="*{address}" value="" />
                                        <p class="display_msg" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                                    </div>

                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Mobile Number *" th:field="*{mobileNumber}" value="" />
                                        <p class="display_msg" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}"></p>
                                    </div>

                                    <div class="form-group">
                                        <input type="email" class="form-control"  placeholder="Email *" th:field="*{email}" value="" />
                                        <p class="display_msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                    </div>

                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input type="radio" name="gender" value="MALE"  th:field="*{genderStatus}" required checked>
                                                <span> Male </span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" name="gender" value="FEMALE" th:field="*{genderStatus}">
                                                <span>Female </span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" name="gender" value="OTHERS" th:field="*{genderStatus}">
                                                <span>Others </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" th:field="*{password}"  value="" />
                                        <p class="display_msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="txtEmpPhone" class="form-control" th:field="*{reEnterPassword}"  placeholder="Confirm Password *" value="" />
                                        <p class="display_msg" th:if="${#fields.hasErrors('reEnterPassword')}" th:errors="*{reEnterPassword}"></p>

                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="birthdate(y-M-d)" th:field="*{birthDate}" value="" />
                                        <p class="display_msg" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
                                    </div>

                                    <div class="form-group">
                                        <input type="file" class="form-control" th:field="*{multipartFilePP}"  placeholder="pp *" value="" />
                                    </div>

                                    <input type="submit" class="btnRegister"  value="Register"/>
                                </div>
                            </div>
                        </form>
                        <p th:text="*{passwordMatchMsg}" class="display_msg"></p>
                        <h4 th:text="*{message}" class="last-msg"></h4>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
</body>
</html>