<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VIEW || STATUS</title>
</head>
<body>
<!--<div th:replace="patient/fragement/navbar :: patientNavbarHome"></div>-->
<div th:replace="patient/fragement/navbar :: patientNabarLink"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarCss"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarJs"></div>
<div>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

        <nav class="navbar">
            <ul>
                <!--              <a href="#home">Home</a>-->
                <a th:href="@{/patient/feedback}">Feedback</a>
                <a th:href="@{/patient/view/status}">View Status</a>
                <a th:href="@{/patient/home}">Home</a>
            </ul>
        </nav>
        <div class="dropdown">
            <img class="dropbtn" th:src="${ppPath}" alt="">
            <div class="dropdown-content">
                <a th:href="@{/patient/profile/view}">Views</a>
                <a th:href="@{/logout}">Log out</a>

            </div>
        </div>

        <div id="menu-btn" class="fas fa-bars"></div>
    </header>
</div>
<div class="home">
    <h2>This is Profile view page page</h2>
</div>
</body>
</html>