<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR || PROFILE </title>
    <link th:href="@{/css/profileCss.css}" rel="stylesheet"/>
    <style>
        .name-display{
            font-size: 20px;
        }
    </style>
</head>
<body>
<!--<div th:replace="patient/fragement/navbar :: patientNavbarHome"></div>-->
<div th:replace="patient/fragement/navbar :: patientNabarLink"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarCss"></div>
<div th:replace="patient/fragement/navbar :: patientNavbarJs"></div>
<div>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

        <nav class="navbar">
            <ul>
                <!--              <a href="#home">Home</a>-->
<!--                <a th:href="@{/patient/feedback}">Feedback</a>-->
                <a th:href="@{/patient/view/status}">View Status</a>
                <a th:href="@{/patient/home}">Home</a>
            </ul>
        </nav>
        <div class="dropdown">
            <img class="dropbtn" th:src="${ppPath}" alt="">
            <div class="dropdown-content">
                <a th:href="@{/patient/profile/view}">Views</a>
                <a th:href="@{/logout}">Log out</a>

            </div>
        </div>

        <div id="menu-btn" class="fas fa-bars"></div>
    </header>
</div>
<div class="home">
    <main class="box">
        <div class="image">
            <img th:src="${ppPath}">
        </div>
        <span class="basic-details">
            <h1><u></u><i>Basic Details</i></u></h1>
            <span class="name-display" th:text="'Name --> '+${patientDetails.name}"></span><br><br>
            <span class="name-display" th:text="'Address --> '+${patientDetails.address}"></span><br><br>
            <span class="name-display" th:text="'Contact --> '+${patientDetails.mobileNumber}"></span><br><br>
            <span class="name-display" th:text="'Email --> '+${patientDetails.email}"></span><br><br>
            <span class="name-display" th:text="'Date Of Birth -->'+${patientDetails.birthDate}"></span><br><br>
            <br>
<!--             <h1><u></u><i>Further Details</i></u></h1>-->
<!--            <h2>Text</h2>-->
<!--              <h2>Text</h2>-->
<!--              <h2>Text</h2>-->
<!--              <h2>Text</h2>-->
        </span>
    </main>
</div>
</body>
</html>