
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
    <link th:href="@{/css/loginPageCss.css}" rel="stylesheet"/>
    <title>Login Page</title>

</head>
<body>

<main class="d-flex align-items-center w3-container w3-win8-teal" style="height: 100vh">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 ">
                <div class="card  text-white w3-container w3-win8-teal">
                    <div class="card-header  text-white text-center"><br/>
                        <span class="fa fa-user-plus fa-2x"></span>
                        <p>Login here</p>
                    </div>
                    <div class="card-body">
                        <form >
                            <div class="form-group control-form ">
                                <label for="exampleInputEmail1"><i class="fa fa-user" style="padding: 3px 5px;"></i>Username</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">

                            </div>
                            <div class="form-group">
                                <label id="">Password</label>

                                <input type="password" class="form-control" id="password" placeholder="Password">
                                <i class="fa fa-eye" id="eye"  onclick="toggle()"></i>
                                <br/>
                                <a class="text-left pt-2 ml-1 text-white" href="">Forgot password?</a>
                            </div>


                            <button type="submit" class="btn btn-secondary btn-sm btn-block">Login</button>
                        </form>
                    </div>
                    <!--div class="card-footer"></div>-->
                </div>
                <!--form design here crateded-->
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    var state = false;
    function toggle(){
        if(state){
            document.getElementById("password").setAttribute("type","password");
            document.getElementById('eye').style.color = 'dark';
            state=false;
        }else{
            document.getElementById("password").setAttribute("type","text");
            document.getElementById('eye').innerHTML = "";
            document.getElementById('eye').style.color = 'green';

            state=true;
        }
    }

</script>
</body>
</html>
