
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--css desigm end link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
    <link th:href="@{/css/loginPageCss.css}" rel="stylesheet"/>
    <link th:href="@{/css/displayError.css}" rel="stylesheet"/>

    <title>Login Page</title>

</head>
<body>

<div>
    <div th:replace="fragment/fragment ::loginNavBar"></div>
    <div th:replace="fragment/fragment :: loginNavBarCss" ></div>
    <div th:replace="fragment/fragment :: generic_link" ></div>
    <main class="d-flex align-items-center" style="height: 100vh">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 ">
                    <div class="card  text-white" style="background: linear-gradient(135deg, #71b7e6,#9b59b6);">
                        <div class="card-header text-white text-center" style="background: linear-gradient(135deg, #71b7e6,#9b59b6);"><br/>
                            <span class="fa fa-user-plus fa-2x"></span>
                            <p>Login here</p>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/login/home}" th:method="post" th:object="${loginDto}">
                                <div class="form-group control-form ">
                                    <label for="username"><i class="fa fa-user" style="padding: 3px 5px;"></i>Username</label>
                                    <input type="text" class="form-control" id="username"
                                           aria-describedby="emailHelp" placeholder="Enter username" th:field="*{username}">
                                    <p class="display_msg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</p>
                                </div>
                                <div class="form-group">
                                    <label id="">Password</label>

                                    <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
                                    <p class="display_msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</p>
                                    <i class="fa fa-eye" id="eye"  onclick="toggle()"></i>
                                    <br/>
                                    <a class="text-left pt-2 ml-1 text-white" href="">Forgot password?</a>
                                </div>


                                <button type="submit" class="btn btn-secondary btn-sm btn-block">Login</button>
                            </form>
                            <p class="display_msg" th:text="*{message}"></p>
                        </div>
                        <!--div class="card-footer"></div>-->
                    </div>
                    <!--form design here crateded-->
                </div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript">
    var state = false;
    function toggle(){
        if(state){
            document.getElementById("password").setAttribute("type","password");
            document.getElementById('eye').style.color = 'dark';
            state=false;
        }else{
            document.getElementById("password").setAttribute("type","text");
            document.getElementById('eye').innerHTML = "";
            document.getElementById('eye').style.color = 'green';

            state=true;
        }
    }

</script>
</body>
</html>
