*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
}

.btn{
    border-radius: 25px;
    padding: 5px 14px;
    font-weight: bold;
    font-size: 20px;
}
.btn:hover{
    border-color:linear-gradient(to right, rgba(10, 205, 231, 0.6));
    background-color: black;
    color: white

}
label{
    font-size: 24px;
    color: azure;
}
.form-control{
    font-size: 16px;
    border-radius: 18px;
}
.form-group i.fa-eye{
    right: 30px;
    bottom:31%;
    position: absolute;
    color: rgb(14, 13, 13);
    cursor: pointer;

}
::placeholder{
    font-size: 18px;
}
