<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/loginNavbarCss.css}" rel="stylesheet"/>
    <title>LOGIN || HOME</title>
</head>
<body>

<div class="bg ">
    <div class=" topnav">
        <a class="active" href="#home"><i class="fa fa-home" style="font-size:20px;padding: 3px 7px;"></i>Home</a>
        <!--Additional links -->
        <div class="login-container">
            <a  class="register" th:href="@{/login}">Register</a>
            <a class="login" th:href="@{/login/home}">Login</a>
        </div>
    </div>

</div>

</body>
</html>