<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>VERIFICATION || USER</title>
  <link th:href="@{/css/emailVerify.css}" rel="stylesheet"/>
  <!--    <link th:href="@{/css/formCss.css}" rel="stylesheet"/>-->
<style>
    .role-select{
        width: 100%;
        height: 1.5rem;
    }
    label{
        font-size: 20px;
    }
    #email{
        width: 100%;
    }
</style>
</head>
<body>
<div th:replace="fragment/loginfragment :: loginHome"></div>
<div th:replace="fragment/loginfragment :: loginHomeCss"></div>
<div th:replace="fragment/loginfragment :: loginHomeLink"></div>
<div class="main">
  <button>
    <a  th:href="@{/signup}">Add</a>
  </button>
  <h3 class="verify-head">Verify Your Email</h3>
  <div class="form-wrap">
    <form th:action="@{/forget-password/verify}" th:method="post" th:object="${passwordResetDto}">
        <label>Choose Who you are</label>
        <br>
        <select th:field="*{userStatus}" class="role-select">
            <option value="ADMIN">ADMIN</option>
            <option value="DOCTOR">DOCTOR</option>
            <option value="PATIENT">PATIENT</option>
        </select>
        <br>
        <br>
      <label for="email">Email Address:</label>
      <br>
      <input type="email" placeholder="Enter your email address" id="email" th:field="*{email}">
      <br>
      <br>
      <input type="submit" value="Submit">
    </form>
      <br>
    <p class="display_msg" th:text="*{message}"></p>
  </div>
</div>
</body>
</html>