<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>APPLY || HOSPITAL</title>
  <link th:href="@{/css/doctor/applyhospital.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="doctor/fragement/navbar :: doctorNabarLink"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarCss"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarJs"></div>
<!--<div th:replace="doctor/fragement/navbar :: doctorNavbarHome"></div>-->
<header class="header">

  <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

  <nav class="navbar">
    <ul>
      <a th:href="@{/doctor-hospital/apply}">Apply<sup class="sub-display"></sup></a>
      <a th:href="@{/doctor/feedback}">Feedback<sup class="sub-display"></sup></a>
      <a th:href="@{/doctor/patient-booking-request}">Booking Request<sup th:text="'('+${patientrequest_count}+')'" class="sub-display"></sup></a>
      <a th:href="@{/doctor/home}">Home<sup class="sub-display"></sup></a>
      <!--                <a href="#doctors">doctors</a>-->
    </ul>
  </nav>
  <div class="dropdown">
    <img class="dropbtn" th:src="${ppPath}" alt="">
    <div class="dropdown-content">
      <a th:href="@{/doctor/view}">Views</a>
      <a th:href="@{/logout}">Log out</a>

    </div>
  </div>

  <div id="menu-btn" class="fas fa-bars"></div>

</header>
<div class="home">

  <div class="row">
    <div class="col-md-12">
      <h2 th:text="${message}" class="message"></h2>
      <form th:action="@{/doctor-hospital/apply}" method="post" th:object="${applyDto}">
        <h1> Apply for Hospitals</h1>
        <fieldset>
          <label for="job">Choose Hospital</label>
          <select id="job" name="user_job" th:field="*{hospital}" required>
            <th:block th:each="loop : ${hospitalList}">
              <option th:value="${loop.id}" th:text="${loop.name}"></option>
            </th:block>
          </select>
        </fieldset>
        <fieldset>
          <label class="work-time">Working Time</label>
          <div class="wrap">
          <label>From:</label>
          <input type="time" name="user_name" th:field="*{formTime}" required>
            <label> To:</label>
            <input type="time"  name="user_name" th:field="*{toTime}" required>

          </div>
<!--          <label>Upload Documents:</label>-->
<!--          <input type="file" id="mail" name="user_email">-->
        </fieldset>
        <button type="submit">Submit</button>
      </form>
<!--      <h2 th:text="${message}" style="color: #04AA6D"></h2>-->
    </div>
  </div>
<br>
  <br><br>
  <br><br><br><br><br><br>
</div>
</body>
</html>
