<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DOCTOR || HOME</title>
    <link th:href="@{/css/doctor/bookingrequest.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="doctor/fragement/navbar :: doctorNabarLink"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarCss"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarJs"></div>
<!--<div th:replace="doctor/fragement/navbar :: doctorNavbarHome"></div>-->
<header class="header ">

    <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

    <nav class="navbar">
        <ul>
            <a th:href="@{/doctor-hospital/apply}">Apply</a>
            <a th:href="@{/doctor/feedback}">Feedback</a>
            <a th:href="@{/doctor/patient-booking-request}">Booking Request</a>
            <a th:href="@{/doctor/home}">Home</a>
<!--            <a th:href="@{/doctor/home}">Home</a>-->
            <!--                <a href="#doctors">doctors</a>-->
        </ul>
    </nav>
    <div class="dropdown">
        <img class="dropbtn" th:src="${ppPath}" alt="">
        <div class="dropdown-content">
            <a th:href="@{/doctor/view}">Views</a>
            <a th:href="@{/logout}">Log out</a>

        </div>
    </div>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>
<div class="home">
    <span th:text="${message}" class="message"></span>
    <h2> Booking Request Details</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Patient_Name </th>
                            <th>Phone_No</th>
                            <th>Address</th>
                            <th>Time</th>
                            <th>Hospital_Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="loop ,i : ${appointmentList}">
                            <td th:text="${i.count}"></td>
                            <td th:text="${loop.patient.name}"></td>
                            <td th:text="${loop.patient.mobileNumber}"></td>
                            <td th:text="${loop.patient.address}"></td>
                            <td th:text="${loop.fromTime}"></td>
                            <td th:text="${loop.hospital.name}"></td>
                            <td>
                                <a th:href="@{/doctor/patient-view/}+${loop.id}">
                                    <span class="btn btn-danger">View</span>
                                </a>

                               <a th:href="@{/doctor/accept-patient/add-time/}+${loop.id}">
                                   <span class="btn btn-danger">Accept</span>
                               </a>

                                <a th:href="@{/doctor/reject-patient/}+${loop.id}">
                                    <span class="btn btn-danger">Reject</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--end of .table-responsive-->
            </div>
        </div>
    </div>
</div>
</body>
</html>