

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VERIFICATION || USER</title>
    <link th:href="@{/css/emailVerify.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/css/formCss.css}" rel="stylesheet"/>-->

</head>
<body>
<div th:replace="fragment/loginfragment :: loginHome"></div>
<div th:replace="fragment/loginfragment :: loginHomeCss"></div>
<div th:replace="fragment/loginfragment :: loginHomeLink"></div>
<div class="main">
    <button>
        <a  th:href="@{/signup}">Add</a>
    </button>
    <h3 class="verify-head">Verify Your Email</h3>
    <div class="form-wrap">
        <form th:action="@{/signup/doctor/verify}" th:method="post" th:object="${doctorDto}" autocomplete="off">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{name}">
            <input type="hidden" th:field="*{password}">
            <input type="hidden" th:field="*{mobileNumber}">
            <input type="hidden" th:field="*{email}">
            <input type="hidden" th:field="*{specialization}">
            <input type="hidden" th:field="*{experience}">
            <input type="hidden" th:field="*{address}">
            <input type="hidden" th:field="*{correctPinCode}">
            <input type="hidden" th:field="*{profilePhotoPath}">
            <input type="hidden" th:field="*{genderStatus}">
            <input type="hidden" th:field="*{basicCharge}">

            <label for="pincode">Pin Code:</label>
            <br>
            <input type="text" placeholder="Enter pin code" id="pincode" th:field="*{userPinCode}">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <p class="display_msg" th:text="*{message}"></p>
    </div>
</div>
</body>
</html>