<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DOCTOR || HOME</title>
</head>
<body>
<div th:replace="doctor/fragement/navbar :: doctorNabarLink"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarCss"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarJs"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarHome"></div>

<div class="home">
    <h2>This is doctor home page</h2>
</div>
</body>
</html>