<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">
    <title>DOCTOR || HOME</title>
    <link th:href="@{/css/doctor/doctorfeedback.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="doctor/fragement/navbar :: doctorNabarLink"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarCss"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarJs"></div>
<!--<div th:replace="doctor/fragement/navbar :: doctorNavbarHome"></div>-->
<div>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

        <nav class="navbar">
            <ul>
                <a th:href="@{/doctor-hospital/apply}">Apply<sup class="sub-display"></sup></a>
                <a th:href="@{/doctor/feedback}">Feedback<sup class="sub-display"></sup></a>
                <a th:href="@{/doctor/patient-booking-request}">Booking Request<sup th:text="'('+${patientrequest_count}+')'" class="sub-display"></sup></a>
                <a th:href="@{/doctor/home}">Home<sup class="sub-display"></sup></a>
                <!--            <a th:href="@{/doctor/home}">Home</a>-->
                <!--                <a href="#doctors">doctors</a>-->
            </ul>
        </nav>
        <div class="dropdown">
            <img class="dropbtn" th:src="${ppPath}" alt="">
            <div class="dropdown-content">
                <a th:href="@{/doctor/view}">Views</a>
                <a th:href="@{/logout}">Log out</a>

            </div>
        </div>
        <div id="menu-btn" class="fas fa-bars"></div>

    </header>
</div>
<div class="home">
    <div class="card-category-1">
  <span class="main" th:each="loop : ${feedbackList}">
            <div class="basic-card basic-card-light">
            <div class="card-content">
                <span class="date" th:text="${loop.feedbackDate}"></span>
                <div class="card-title" th:text="${loop.patient.name}"></div>
                <p class="card-text" th:text="${loop.comment}"> </p>
            </div>
        </div>
    </span>

</div>
</div>
</body>
</html>