<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DOCTOR || HOME</title>
    <link th:href="@{/css/doctor/home.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="doctor/fragement/navbar :: doctorNabarLink"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarCss"></div>
<div th:replace="doctor/fragement/navbar :: doctorNavbarJs"></div>
<!--<div th:replace="doctor/fragement/navbar :: doctorNavbarHome"></div>-->
<header class="header">

    <a href="#" class="logo"> <i class="fas fa-heartbeat"></i>ODAS </a>

    <nav class="navbar">
        <ul>
            <a th:href="@{/doctor-hospital/apply}">Apply<sup class="sub-display"></sup></a>
            <a th:href="@{/doctor/feedback}">Feedback<sup class="sub-display"></sup></a>
            <a th:href="@{/doctor/patient-booking-request}">Booking Request<sup th:text="'('+${patientrequest_count}+')'" class="sub-display"></sup></a>
            <a th:href="@{/doctor/home}">Home<sup class="sub-display"></sup></a>
            <!--                <a href="#doctors">doctors</a>-->
        </ul>
    </nav>
    <div class="dropdown">
        <img class="dropbtn" th:src="${ppPath}" alt="">
        <div class="dropdown-content">
            <a th:href="@{/doctor/view}">Views</a>
            <a th:href="@{/logout}">Log out</a>

        </div>
    </div>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>
<div class="home">
    <div class="container">
        <h2 class="head_caption"><u><i>Today Patient</i></u></h2>
        <table id="members">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Hospital Name</th>
                <th>Patient Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="loop , i : ${appointmentList}">
                <td th:text="${i.count}"></td>
                <td th:text="${loop.getHospital().name}"></td>
                <td th:text="${loop.getPatient().name}"></td>
                <td th:text="${loop.getPatient().address}"></td>
                <td th:text="${loop.getPatient().mobileNumber}"></td>
                <td th:text="${loop.getFromTime()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>